{% extends 'layout.html' %} {% block content %}


<div id="bouton">
    <span></span>
</div>


<section id="filtre">
    <div id="entete">
        <h2>Filtrer</h2>
        <div class="boutons">
            <button onclick="save(this.classList)">Save</button>
            <button onclick="reset()">Reset</button>
        </div>
    </div>
    <form>
        <div class="filtre">
            <label for="sexe">Sexe : </label>
            <select name="sexe" id="sexe">
                <option value="Tous">TOUS</option>
                <option value="Male">Male</option>
                <option value="Femelle">Femelle</option>
                <option value="Aucun">AUCUN</option>
            </select>
        </div>
        <div class="filtre">
            <label for="type1 type2">Types : </label>
            <select name="type1" id="type1">
                <option value="Tous">TOUS</option>
                {% for type in types %}
                    {% if type.nom != "Inconnu" %} <option value="{{type.nom}}">{{type.nom}}</option> {% endif %}
                {% endfor %}
            </select>
            <p>et</p>
            <select name="type2" id="type2">
                <option value="Tous">TOUS</option>
                {% for type in types %}
                    {% if type.nom != "Inconnu" %} <option value="{{type.nom}}">{{type.nom}}</option> {% endif %}
                {% endfor %}
                <option value="Aucun">AUCUN</option>
            </select>
        </div>
        <div class="filtre">
            <label for="talent">Talent : </label>
            <select name="talent" id="talent">
                <option value="Tous">TOUS</option>
                {% for talent in talents %}
                    <option value="{{talent.nom}}">{{talent.nom}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="filtre">
            <label for="capacite">Capacité : </label>
            <select name="capacite" id="capacite">
                <option value="Tous">TOUS</option>
                {% for capacite in capacites %}
                    <option value="{{capacite.nom}}">{{capacite.nom}}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</section>


<section id="liste" class="premiere">

    {% for pokemon in pokemons %}
    <div class="case" data-id="{{pokemon.id}}" data-sexe="{% if pokemon.sexe == '/images/sexes/male.svg' %}Male{% elseif pokemon.sexe == '/images/sexes/femelle.svg' %}Femelle{% else %}Aucun{% endif %}" data-types="{{pokemon.types.a}}{% if pokemon.types.b != '' %} {{pokemon.types.b}}{% endif %}"
        data-talent="{{pokemon.talent}}" data-capacites="{{pokemon.capacites.a}},{{pokemon.capacites.b}},{{pokemon.capacites.c}},{{pokemon.capacites.d}}">
        <div class="boutons">
            <a href="/{{pokemon.id}}"><button>Voir</button></a>
            <button onclick="ajouter_liste(this)">Ajouter</button>
        </div>
        <div class="image"><img src="{{pokemon.sprite}}" alt="Sprite de {{pokemon.nom}}"></div>
        <div class="case-info">
            <p {% if pokemon.nom=="Deoxys (normal)" || pokemon.nom=="Deoxys (attaque)" || pokemon.nom=="Deoxys (défense)" || pokemon.nom=="Deoxys (vitesse)" %} class="deoxys" {% endif %}>{{pokemon.nom}} {% if pokemon.sexe != "Aucun" %} <img src="{{pokemon.sexe}}" alt="Sexe de {{pokemon.nom}}"> {% endif %}</p>
            <div>
                {% for type in types %} {% if type.nom == pokemon.types.a %} <img src="{{type.image}}" alt="Type de {{pokemon.nom}}"> {% endif %} {% endfor %} {% if pokemon.types.b != "" %} {% for type in types %} {% if type.nom == pokemon.types.b %}
                <img src="{{type.image}}" alt="Type de {{pokemon.nom}}"> {% endif %} {% endfor %} {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}

</section>


<script src="js/bouton.js"></script>
<script src="js/filtrer.js"></script>

{% endblock %}