{% extends 'layout.html' %} {% block content %}

<section id="liste" class="premiere">

    {% for pokemon in pokemons %}
    <div class="case">
        <div class="boutons">
            <a href="/{{pokemon.id}}"><button>Voir</button></a>
            <button onclick="ajouter_liste(this)">Ajouter</button>
        </div>
        <div class="image"><img src="{{pokemon.sprite}}" alt="Sprite de {{pokemon.nom}}"></div>
        <div class="case-info">
            <p>{{pokemon.nom}} {% if pokemon.sexe != "Aucun" %} <img src="{{pokemon.sexe}}" alt="Sexe de {{pokemon.nom}}"> {% endif %}</p>
            <div>
                {% for type in types %} {% if type.nom == pokemon.types.a %} <img src="{{type.image}}" alt="Type de {{pokemon.nom}}"> {% endif %} {% endfor %} {% if pokemon.types.b != "" %} {% for type in types %} {% if type.nom == pokemon.types.b %}
                <img src="{{type.image}}" alt="Type de {{pokemon.nom}}"> {% endif %} {% endfor %} {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}

</section>

{% endblock %}