<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{titre}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <div id="logo"><img src="/images/ressources/logo.png" alt="Logo du jeu"></div>
        <div id="equipe">
            <div id="un" class="pokemon">
                <a class="boutons-pokeball" href=""><button>Voir</button></a>
                <div class="sprite-pokeball">
                    <img src="/images/ressources/pokeball.png" alt="Sprite d'une Poké Ball">
                </div>
                <button class="boutons-pokeball" onclick="supprimer(this)">Supprimer</button>
            </div>
            <div id="deux" class="pokemon">
                <a class="boutons-pokeball" href=""><button>Voir</button></a>
                <div class="sprite-pokeball">
                    <img src="/images/ressources/pokeball.png" alt="Sprite d'une Poké Ball">
                </div>
                <button class="boutons-pokeball" onclick="supprimer(this)">Supprimer</button>
            </div>
            <div id="trois" class="pokemon">
                <a class="boutons-pokeball" href=""><button>Voir</button></a>
                <div class="sprite-pokeball">
                    <img src="/images/ressources/pokeball.png" alt="Sprite d'une Poké Ball">
                </div>
                <button class="boutons-pokeball" onclick="supprimer(this)">Supprimer</button>
            </div>
            <div id="quatre" class="pokemon">
                <a class="boutons-pokeball" href=""><button>Voir</button></a>
                <div class="sprite-pokeball">
                    <img src="/images/ressources/pokeball.png" alt="Sprite d'une Poké Ball">
                </div>
                <button class="boutons-pokeball" onclick="supprimer(this)">Supprimer</button>
            </div>
            <div id="cinq" class="pokemon">
                <a class="boutons-pokeball" href=""><button>Voir</button></a>
                <div class="sprite-pokeball">
                    <img src="/images/ressources/pokeball.png" alt="Sprite d'une Poké Ball">
                </div>
                <button class="boutons-pokeball" onclick="supprimer(this)">Supprimer</button>
            </div>
            <div id="six" class="pokemon">
                <a class="boutons-pokeball" href=""><button>Voir</button></a>
                <div class="sprite-pokeball">
                    <img src="/images/ressources/pokeball.png" alt="Sprite d'une Poké Ball">
                </div>
                <button class="boutons-pokeball" onclick="supprimer(this)">Supprimer</button>
            </div>
        </div>
    </header>

    {% block content %} {% endblock %}

    <script src="js/equipe.js"></script>

</body>

</html>