{% extends 'layout.html' %} {% block content %}

<section id="boutons">
    <a href="/">
        <button>Revenir à la liste</button>
    </a>
</section>
<section id="pokemon">
    <div id="infos">
        <div id="sprite"><img src="{{pokemon.sprite}}" alt="Sprite de {{pokemon.nom}}"></div>
        <div id="info">
            <div>
                <p>Nom : <span>{{pokemon.nom}}</span></p> <img id="sexe" src="{{pokemon.sexe}}" alt="Sexe de {{pokemon.nom}}">
            </div>
            <div>
                {% if pokemon.types.b != "" %}
                <p>Types : </p> {% endif %} {% if pokemon.types.b == "" %}
                <p>Type : </p> {% endif %} {% for type in types %} {% if type.nom == pokemon.types.a %} <img class="types" src="{{type.image}}" alt="Type de {{pokemon.nom}}"> {% endif %} {% endfor %} {% if pokemon.types.b %}
                <p> - </p> {% for type in types %} {% if type.nom == pokemon.types.b %} <img class="types" src="{{type.image}}" alt="Type de {{pokemon.nom}} "> {% endif %} {% endfor %} {% endif %}
            </div>
            <p>
                Poids : {{pokemon.poids}} kg
            </p>
            <div id="stats">
                <p>Statistiques</p>
                <ul>
                    <li>PV : {{pokemon.stat.pv}}</li>
                    <li>Attaque Physique : {{pokemon.stat.att_phy}}</li>
                    <li>Défense Physique : {{pokemon.stat.def_phy}}</li>
                    <li>Attaque Spéciale : {{pokemon.stat.att_spe}}</li>
                    <li>Défense Spéciale : {{pokemon.stat.def_spe}}</li>
                    <li>Vitesse : {{pokemon.stat.vitesse}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="talent">
        <p>Talent : <span>{{pokemon.talent}}</span></p>
        <p>{% for talent in talents %} {% if talent.nom == pokemon.talent %} {{talent.effet}} {% endif %} {% endfor %}</p>
    </div>
    <div id="attaques ">

    </div>
</section>

{% endblock %}